body{
font-family: 'Lucida Sans';
background-color: gray;
}
a{
   font-size: larger; 
   text-decoration: none; 
   font-family: 'Lucida Sans'; 
   color: rgb(165, 42, 42);
}
header{
    padding: 1em;
    background-color: beige;
    border-bottom: 5px solid;
    border-color: blueviolet;
}